{% extends "display/layout.html" %}

{% block title %}
    Page Not Found
{% endblock %}

{% block body %}
	<div class="row">
		<div class="sidebar col-lg-2 col-md-3">
	        <h2>Wiki</h2>
	        <form action="{% url 'encyclopedia:index' %}" method="post">
	                    {% csrf_token %}
	                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
	                </form>
	                <div>
	                    <a href="{% url 'encyclopedia:index' %}">Home</a>
	                </div>
	                <div>
	                    <a href="{% url 'pages:index' %}">Create New Page</a>
	                </div>
	                <div>
	                    <a href="{% url 'pages:randomChoice' %}">Random Page</a>
	                </div>
	    </div>
	<div class="main col-lg-10 col-md-9">
		<h1>404 ERROR</h1>
		<h1>The page you requested cannot be found.</h1>
	</div>
</div>
{% endblock %}